{% extends 'base.html.twig' %}
{% block body %}


   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
      <!-- header -->
      <header>
         <!-- header inner -->
        <div class="row">
            <div class="col-12 m-5 text-center">
               <h1>Carrito de la compra</h1>
            </div>
         </div>
      </header>
  <!-- Cart list Start -->
            <div class="col-lg-8">
               {% for item in items %}
                    {{ include ('cart/_item.html.twig', {'item' : item}) }}
                {% endfor %}
            </div>
            
            <!-- Cart list End -->

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Plain Text Start -->
                <div>
              
                    <div class="bg-light text-center" style="padding: 30px;">
                        <div class="d-flex mb-3">
                            <h4 id='totalCart' class="text-uppercase ps-3 mb-4">Total {{totalCart |number_format(2, ',', '.') }} €</h4>
                        </div>
                        <a href="" class="btn btn-primary py-2 px-4">Checkout</a>
                    </div>
                </div>
                <!-- Plain Text End -->
      <!-- Javascript files-->


{% endblock %}
